body
{
    background-color: #a3d5d3;
}

a
{
    text-decoration: none;
    visited: red;
}

#header
{
    color: yellow;
}

.content > p
{
    color: green;
}

p
{
    font-size: 16px;
    font: "Times New Roman";
}

.photo > img
{
    border: 5px dotted;
    color: red;
}

.link
{
    font-size: 25px;
}

.movie
{
    color: red;
}

li > a
{
    color: dodgerblue;
}

ul
{
    color: none;
}

.text
{
    color: yellow;
}

.przykladowy
{
    height: 200px;
    width: 200px;
    background-color: red;
    border: groove lime;
    margin-top: 30px;
    margin-bottom: 50px;
}

.textowy
{
    border: groove blue 5px;
    color: black;
    padding-top: 5%;
}

.dwadivy > p
{
    width: 100px;
    background-color: yellow;
    display: inline-flex;
}

.trzy > div
{
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 50% ;
    display: inline-flex;
}
