body
{
    background-color: #a3d5d3;
}

a
{
    text-decoration: none;
    visited: red;
}

#header
{
    color: yellow;
}

.content > p
{
    color: green;
}

p
{
    font-size: 16px;
    font: "Times New Roman";
}

img
{
    border: 5px dotted;
    color: red;
}

.link
{
    font-size: 25px;
}

.movie
{
    color: red;
}

li > a
{
    color: dodgerblue;
}

ul
{
    color: none;
}

.text
{
    color: yellow;
}

.przykladowy
{
    height: 200px;
    width: 200px;
    background-color: red;
    border: groove lime;
    margin-top: 30px;
    margin-bottom: 50px;
}

.textowy
{

}